@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --back-ground: #eff0f3;
  --fore-ground: #0d0d0d;
  --item-main: #fffffe;
  --item-sub: #0d0d0d;
  --item-border: #f9b248;
}

[data-theme="dark"] {
  --back-ground: #242629;
  --fore-ground: #fffffe;
  --item-main: #323436;
  --item-sub: #fffffe;
  --item-border: #40bf86;
}

body {
  background: var(--back-ground);
  color: var(--fore-ground);
  letter-spacing: 0.04em;
  transition: all 0.3s;
}

.theme-item {
  background: var(--item-main);
  color: var(--item-sub);
  border: var(--item-border) solid 1px;
}

.label {
  background: var(--item-border);
  color: var(--back-ground);
  transition: all 0.3s;
}

.exp-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
