@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff0f3;
  --foreground: #0d0d0d;
  --itemmain: #fffffe;
  --itemsub: #0d0d0d;
}

[data-theme="dark"] {
  --background: #242629;
  --foreground: #fffffe;
  --itemmain: #323436;
  --itemsub: #fffffe;
}

body {
  background: var(--background);
  color: var(--foreground);
  letter-spacing: 0.04em;
}

.theme-item {
  background: var(--itemmain);
  color: var(--itemsub);
}

.exp-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
